<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    Perfil do {{nome}}

    <p>Email: {{email}}</p>

    {% if numero > 10 %}
        Número Maior que 10
    {% endif %}

    <h1>Alunos</h1>
    {% for nome in alunos %}
        {{nome}}<br>
    {% endfor %}

    <hr>

    <h1>Criar novo usuário:</h1>

    <form action="/usuarios" method="post">
        <!-- nome, email, senha, telefone -->
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <br><br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha">
        <br><br>
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone">

        <br><br>
        <input type="submit" value="Criar Usuário">
    </form>
</body>
</html>